body {
    background-color:#c2e3ff;
  
}

.container {
    display: flex;
    align-items: flex-start; 
    margin: 0;
    justify-content: center;
}

.heading {
    color:#5986f0;
    margin-right: 10px; 
}

.icon {
    width: 40px;
    height: auto;
}

 h2{
    margin-right: 20px; 
    color: #25306b;


 }


 h3{

    margin-left: 10%;
    color:#25306b;
    
 }

 .userfill {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 20px;
}


.passfill {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 20px;
}



button {
    color:#25306b; 
    background-color: #5986f0; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30%;
}

button:hover {
    background-color: #25306b; 
}



.register p{
    margin-top: 10%;
    color: #25306b;
    color:#5986f0;

  
}

h2 {
    color:#5986f0;
    margin-right: 20px; 
}

h3 {
    color:#5986f0;
    margin-right: 10px; 
}

p {
    color:#5986f0;
    margin-right: 50px; 
}