body {
    background-color: #c2e3ff;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
}

.heading {
    color: #5986f0;
    margin-right: 10px;
}

.icon {
    width: 40px;
    height: auto;
}

h2 {
    margin-right: 20px;
    color: #5986f0;
}

button {
    color: #25306b;
    background-color: #5986f0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30%;
}

button:hover {
    background-color: #25306b;
}

.register p {
    margin-top: 10%;
    color: #5986f0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    color: #5986f0;
    margin-right: 10px;
}


.form-group input:focus {
    outline: none;
    border-color: #25306b;
}


