body{
    background-color: #c2e3ff;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.heading {
    color:#5986f0;
    margin-right: 10px; 
}

.icon {
    width: 40px;
    height: auto;
}

h2{
    margin-left: 5%;
     color: #25306b;
 
 
  }
 
 button{

    color:#25306b; 
    background-color: #5986f0; 
 }

 button:hover {
    background-color: #33408a; 
}

 p{

    color: #25306b;
 }

 form {
    width: 300px; 
    margin-top: 20px; 
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
  }
  
  form input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }