body {
    background-color: #c2e3ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.container {
    width: 100%;
    text-align: center;
    margin-top: 20px; 
}

.heading {
    color: #5986f0;
}

.icon {
    width: 40px;
    height: auto;
}

h1, h2 {
    color: #25306b;
}

.message-box {
    width: 300px;
    margin-top: auto; 
    margin-bottom: 20px; 
}

.message-box textarea {
    width: 100%;
    height: 60px;
    resize: none;
    margin-bottom: 10px;
}

button {
    color: #25306b;
    background-color: #5986f0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #25306b;
}

.register p {
    margin-top: 10%;
    color: #25306b;
}
