{% extends 'Base.html' %}

{% block head %}
<title>Admin Server</title>
<link rel="stylesheet" href="../static/css/Adminserver.css">
{% endblock %}

{% block header %}

<header class="container">
    <h1 class="heading">ART</h1>
    <img src="../Images/icon.png" alt="redcanvas" class="icon" />
</header>

<h2>Admin Server Page</h2>
{% endblock %}

{% block body %}
<h1></h1>
<input type="text" id="ChannelName"> <button id="subChannelName">Submit Channel Name</button>
<h1></h1>
<button id="CreateChannel">Create Channel</button>
<button id="DeleteChannel">Delete Channel</button>
<h1></h1>

<input type="text" id="ServerName"> <button id="subServerName">Submit Server Name</button>
<h1></h1>
<button id="CreateServer">Create Server</button>
<button id="DeleteServer">Delete Server</button>

<script>
  // AJAX requests
  function sendRequest(url) {
      $.ajax({
          url: url,
          type: 'POST',
          success: function(response) {
              alert(response);
          },
          error: function(xhr, status, error) {
              console.error(xhr.responseText);
          }
      });
  }

  function sendRequest(url, data) {
      $.ajax({
          url: url,
          type: 'POST',
          data: data,
          success: function(response) {
              alert(response);
          },
          error: function(xhr, status, error) {
              console.error(xhr.responseText);
          }
      });
  }

  
$('#CreateChannel').click(function() {
    sendRequest('/CreateChannel');
});

$('#DeleteChannel').click(function() {
    sendRequest('/DeleteChannel');
});

$('#CreateServer').click(function() {
    sendRequest('/CreateServer');
});

$('#DeleteServer').click(function() {
    sendRequest('/DeleteServer');
});

$('#subChannelName').click(function() {
    var ChannelName = $('#ChannelName').val(); // Get the value from the input field
    var dataA = { 'ChannelName': ChannelName }; // Correct the key name to 'username'
    sendRequest('/subChannelName', dataA); // Send the username as data to Flask
});

$('#subServerName').click(function() {
  var ServerName = $('#ServerName').val(); // Get the value from the input field
  var dataB = { 'ServerName': ServerName }; // Correct the key name to 'username'
  sendRequest('/subServerName', dataB); // Send the username as data to Flask
});


</script>
{% endblock %}
