{% extends 'Base.html' %}

{% block head %}
<title>Discord Page</title>
<link rel="stylesheet" href="../static/css/Channel.css">
{% endblock %}

{% block header %}
<h1>{{channel}}</h1>
<h3>Logged in as: {{username}}</h3>
{% endblock %}

{% block body %}
<div id="chat-container">
  <div id="messages"></div>
</div>
<input type="text" id="message-box" placeholder="Type your message..." />
<button id="send-button">Send</button>
<form action="/server">
  <button id="goBack">Go Back to the Server Page</button>
</form>

{% block check %}{% endblock %}

<h2>Admins:</h2>
{% if admins|length > 0 %}
    {% for admin in admins %}
      <form action="/kick" method="POST">
        <p>{{admin}}</p>
        <input type="hidden" id="channel" name="channel" value="{{channel}}">
        <input type="hidden" id="user" name="user" value="{{admin}}">
        <button id="kick">Kick User</button>
      </form>
    {% endfor %}
{% endif %}
<h2>General Users:</h2>
{% if users|length > 0 %}
    {% for user in users %}
        <p>{{user}}</p>
        <form action="/kick" method="POST">
          <input type="hidden" id="channel" name="channel" value="{{channel}}">
          <input type="hidden" id="user" name="user" value="{{user}}">
          <button id="kick">Kick User</button>
        </form>
    {% endfor %}
{% endif %}

<script>
  function sendMessage() {
    var messageInput = document.getElementById("message-box");
    var message = messageInput.value.trim();
    if (message !== "") {
      var messagesContainer = document.getElementById("messages");
      var messageElement = document.createElement("div");
      messageElement.textContent = message;
      messagesContainer.appendChild(messageElement);
      messageInput.value = "";

      messagesContainer.scrollTop = messagesContainer.scrollHeight;
    }
  }

  document
    .getElementById("send-button")
    .addEventListener("click", sendMessage);

  document
    .getElementById("message-box")
    .addEventListener("keypress", function (event) {
      if (event.keyCode === 13) {
        sendMessage();
      }
    });
</script>
</body>
{% endblock %}
