{% extends 'Base.html' %}

{% block head %}
<title>Discord Page</title>
<link rel="stylesheet" href="../static/css/Channel.css">
{% endblock %}

{% block header %}
<h1>{{channel}}</h1>
<h3>Logged in as: {{username}}</h3>
<form action="/server">
  <button id="goBack">Go Back to the Server Page</button>
</form>
<h1></h1>
{% endblock %}

{% block body %}
<div id="chat-container">
  {% if chats|length > 0 %}
    {% for messageId, chat in chats %}
      <div>
        <form action="/delete_message" method="POST">
          <input type="hidden" id="messageId" name="messageId" value="{{messageId}}">
          <input type="hidden" id="channel" name="channel" value="{{channel}}">
          <button id="deleteMessage">Delete</button>
          <p style="display:inline-block;">{{chat}}</p>
        </form>
      </div>
    {% endfor %}
  {% endif %}
</div>
<form action="/post_message" method="POST">
  <input type="hidden" id="channel" name="channel" value="{{channel}}">
  <input type="text" id="message-box" name="message-box" placeholder="Type your message..." required />
  <button id="send-button">Send</button>
</form>

{% block check %}{% endblock %}

<h2>Admins:</h2>
{% if admins|length > 0 %}
    {% for admin in admins %}
      <form method="POST">
        <p style="display:inline-block;">{{admin}}</p>
        <input type="hidden" id="channel" name="channel" value="{{channel}}">
        <input type="hidden" id="user" name="user" value="{{admin}}">
        <button id="kick" formaction="/kick">Kick User</button>
        <button id="removeAdmin" formaction="/remove_admin">Unset as Admin</button>
      </form>
    {% endfor %}
{% endif %}
<h2>General Users:</h2>
{% if users|length > 0 %}
    {% for user in users %}
        <form method="POST">
          <p style="display:inline-block;">{{user}}</p>
          <input type="hidden" id="channel" name="channel" value="{{channel}}">
          <input type="hidden" id="user" name="user" value="{{user}}">
          <button id="kick" formaction="/kick">Kick User</button>
          <button id="addAdmin" formaction="/add_admin">Set as Admin</button>
        </form>
    {% endfor %}
{% endif %}
</body>
{% endblock %}
