{% extends 'Base.html' %}

{% block head %}
<title>Server</title>
<link rel="stylesheet" href="../static/css/Server.css">
{% endblock %}

{% block header %}
<h3>Logged in as: {{username}}</h3>
<h1>Profile of {{othername}}</h1>
{% endblock %}

{% block body %}
<h2>Pronouns: {{pronouns}}</h2>
<h2>Description: {{desc}}</h2>

<form action="/dm" method="POST">
    <h3>{{user}}</h3>
    <input type="hidden" id="username" name="username" value="{{username}}">
    <input type="hidden" id="other" name="other" value="{{othername}}">
    <button id="directMessage">Direct Message</button>
</form>
<form action="/server">
    <button id="login">Go Back</button>
</form>
{% block check %}{% endblock %}
{% endblock %}
