{% extends 'Base.html' %}

{% block head %}
<title>Registration Page</title>
<link rel="stylesheet" href="../static/css/Registration.css">
<style>
  .error {
    color: red;
  }
</style>
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<header class="container">
  <h1 class="heading">ART</h1>
  <img src="../Images/icon.png" alt="redcanvas" class="icon" />
</header>
<h2>Registration</h2>
{% block message %}{% endblock %}
<form action="/signup" method="POST">
  <div>
    <label for="username">Username (Must be > 8 characters):</label>
    <input type="text" id="username" name="username" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      required
    />
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="dob">Date of Birth (You must be at least 18 years old):</label>
    <input type="date" id="dob" name="dob" required />
  </div>
  <div>
    <button id="submit">Register</button>
  </div>
</form>

<form action="/">
  <button id="login">Go Back</button>
</form>

<script>
  /*$('#submit').click(function() {
    var username = $('#username').val();
    var password = $('#password').val();
    var confirmPassword = $('#confirmPassword').val();
    var email = $('#email').val();
    var dob = $('#dob').val();
    var data = { 'username': username, 'password': password, 'confirmPassword': confirmPassword, 'email': email, 'dob': dob};
    $.ajax({
        url: '/signup',
        type: 'POST',
        data: data,
        success: function(response) {
            alert(response);
            // Redirect or handle response as needed
        },
        error: function(xhr, status, error) {
            console.error(xhr.responseText);
            // Handle error as needed
        }
    });
});*/

//$('#submit').click(function() {
  //var username = $('#username').val(); // Get the value from the input field
  //var password = $('#password').val();
  //var confirmPassword= $('#confirmPassword').val();
  //var email = $('#email').val();
  //var dob = $('#dob').val();
  //var data = { 'username': username }; // Correct the key name to 'username'
  //sendRequest('/process_user', data); // Send the username as data to Flask
//});

</script>
{% endblock %}
