{% extends 'Base.html' %}

{% block head %}
<title>Server</title>
<link rel="stylesheet" href="../static/css/Server.css">
{% endblock %}

{% block header %}
<h1>Server Page</h1>
<h3>Logged in as: {{username}}</h3>
{% endblock %}

{% block body %}
<form method="POST">
    <input type="text" id="channelName" name="channelName" required>
    <button id="searchChannelName" formaction="/search_channel">Search Channel Name</button>
    <button id="CreateChannel" formaction="/create_channel">Create Channel</button>
    <button id="DeleteChannel" formaction="/delete_channel">Delete Channel</button>
</form>
<form action="/profile">
    <button id="profile">Update Personal Info</button>
</form>
<form action="/logout" method="POST">
    <button id="logout">Log Out</button>
</form>
<style>
    form {
        font-size:15px;
        display:inline-block;
        clear:both;
    }
</style>

{% block check %}{% endblock %}

<h1>Channels:</h1>
{% if channels|length > 0 %}
    {% for channel in channels %}
        <h3>{{channel}}</h3>
        <form action="/add_user" method="POST">
            <input type="hidden" id="channel" name="channel" value="{{channel}}">
            <input type="text" id="userToAdd" name="userToAdd" required>
            <button id="addUser">Add User</button>
        </form>
    {% endfor %}
{% endif %}

<h1>Server Members:</h1>
{% if users|length > 0 %}
    {% for user in users %}
        <p>{{user}}</p>
    {% endfor %}
{% endif %}
{% endblock %}
