{% extends 'Base.html' %}

{% block head %}
<title>Server</title>
<link rel="stylesheet" href="../static/css/Server.css">
{% endblock %}

{% block header %}
<h1>Server Page</h1>
<h3>Logged in as: {{username}}</h3>
{% endblock %}

{% block body %}
<form method="POST">
    <input type="text" id="channelName" name="channelName" required>
    <button id="searchChannelName" formaction="/search_channel">Search Channel Name</button>
    <button id="CreateChannel" formaction="/create_channel">Create Channel</button>
    <button id="DeleteChannel" formaction="/delete_channel">Delete Channel</button>
</form>
<form action="/edit_profile">
    <button id="editProfile">Update Personal Info</button>
</form>
<form action="/logout" method="POST">
    <button id="logout">Log Out</button>
</form>

{% block check %}{% endblock %}

<h1>Channels:</h1>
{% if channels|length > 0 %}
    {% for channel in channels %}
        <form method="POST" style="display:block;">
            <h2>{{channel}}</h2>
            <input type="hidden" id="channel" name="channel" value="{{channel}}">
            <button id="enterChannel" formaction="/channel">Enter Channel</button>
            <button id="leaveChannel" formaction="/leave_channel">Leave Channel</button>
        </form>
        <form method="POST">
            <input type="hidden" id="channel" name="channel" value="{{channel}}">
            <input type="text" id="userToAdd" name="userToAdd" required>
            <button id="addUser" formaction="/add_user">Add User</button>
        </form>
        <form method="POST">
            <input type="hidden" id="channel" name="channel" value="{{channel}}">
            <input type="text" id="newChannelName" name="newChannelName" required>
            <button id="addUser" formaction="/rename_channel">Rename Channel</button>
        </form>
    {% endfor %}
{% endif %}

<h1>Server Members:</h1>
{% if users|length > 0 %}
    {% for user in users %}
        <form action="/profile" style="display:inline-block;" method="POST">
            <h3>{{user}}</h3>
            <input type="hidden" id="other" name="other" value="{{user}}">
            <button id="seeProfile">See Profile</button>
        </form>
    {% endfor %}
{% endif %}
{% endblock %}
